<html>
<head>
  <title>POST request Example</title>
</head>
<body>
  <form action="{{ path_for('post_handler') }}" method="post">
    Enter your Name : <input type="text" name="yourname">
    <input type="submit" value="Click Me">
  </form>
</body>
</html>