<html>
<head>
  <title>Lazy Slim3 : The framework for the laziest !</title>
</head>
<body>
  <h3>{{ name }}</h3>
<br>
<a href="{{ path_for("post_page") }}">POST Example</a><br>
<a href="{{ path_for("custom_url",{"custom":"lazy"}) }}">Custom URL Example</a>
</body>
</html>
